.orders-review{
    position: sticky;
    top: 0;
    margin-top: 100px;
    margin-left: 5px;
    background-color: #FFE0B3;
    padding: 20px;
}
.review-title{
    text-align: center;
}
.cart-btn{
    background: rgba(255, 48, 48, 1);
    color: white;
    border: none;
    padding: 5px 50px;
}
.cart-btn:hover{
    background-color: cornflowerblue;
}