.product-container{
    border: 1px solid #95A0A7;
    position: relative;
}
.product-container > img{
    width: 250px;
    height: 250px;
    margin: 7px;
    border-radius: 8px;
}
.product-title{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
}
.product-info{
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.product-info p{
    margin: 0 0 8px 0;
}
.button{
    position: absolute;
    bottom: 0;
}
.cart-btn-left{
    background: #FFE0B3;
    border: 0;
}
.cart-btn-right{
    background: #ffd3d3;
    border: 0;
}
.cart-btn-left:hover{
    background-color: orange;
    color: white;
}
.cart-btn-right:hover{
    background-color: red;
    color: white;
}

@media screen and (max-width: 991px) {
    .product-container > img{
        width: 100px;
        height: 100px;
        margin: 7px;
        border-radius: 8px;
    }
    .product-title{
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
    }
    .product-info{
        padding: 15px;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    .small-info {
        margin: 0;
    }
}
@media screen and (max-width: 361px) {
    .product-container > img{
        width: 50px;
        height: 50px;
        margin: 7px;
        border-radius: 8px;
    }
    .product-info{
        padding: 0;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    .product-title{
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
    }
    .product-info p{
        font-size: 10px;
        margin: 0 0 8px 0;
    }
}