.product-container{
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}

.product-container > img{
    width: 20%;
    height: 20%;
    border-radius: 2em;
}

.product-info{
    margin-left: 2em;
}

.cart-btn-left{
    background-color: rgb(255, 145, 0);
    color: white;
    padding: 0.5em 4em;
    font-weight: bold;
    border-radius: 1em;
}

.cart-btn-left:hover{
    background-color: rgb(255, 106, 0);
    color: white;
}

.cart-btn-right{
    background-color: rgb(255, 145, 0);
    color: white;
    padding: 0.5em 2em;
    font-weight: bold;
    border-radius: 1em;
    margin-left: 2em;
}

.cart-btn-right:hover{
    background-color: rgb(255, 106, 0);
    color: white;
}


@media screen and (max-width: 480px) {
    .product-container > img{
        width: 25%;
        height: 25%;
    }
    .cart-btn-left{
        padding: 5px 20px;
        font-size: smaller;
    }
    .cart-btn-right{
        padding: 5px 10px;
        font-size: smaller;
    }
}
@media screen and (max-width: 768px){
    .cart-btn-left{
        padding: 6px 30px;
    }
    .cart-btn-right{
        padding: 6px 15px;
    }
}