.form-container{
    width: 40%;
    margin: auto;
    border: 0;
}
label{
    color: rgb(255, 145, 1);
    font-weight: bold;
}
input{
    width: 30%;
}
.update-btn{
    background-color: rgb(255, 145, 1);
    padding: 5px 20px;
    color: white;
}
.update-btn:hover{
    background-color: chocolate;
}
.disable-btn{
    background-color: rgb(255, 145, 1);
    padding: 5px 20px;
    color: white;
    cursor: not-allowed;
}

@media screen and (max-width: 480px){
    .form-container{
        width: 70%;
    }
}