section{
    text-align: center;
}
.navbar-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 145, 0);
    padding: 20px 0;
}
.navbar-container a{
    color: white;
    text-decoration: none;
    margin-left: 40px;
    font-size: 24px;
    font-weight: bold;
}
.logo{
    width: 35%;
    margin: 30px auto;
}
.btn-logout {
    border: none;
    margin-left: 10px;
}
.empty-cart-btn{
    background-color: rgb(255, 145, 0);
    color: white;
    border-radius: 1em;
    padding: 0.5em 2em;
    font-weight: bold;
}

@media screen and (max-width: 601px) {
    .navbar a{
        font-size: 14px;
    }
}

@media screen and (max-width: 376px) {
    .navbar a{
        color: white;
        text-decoration: none;
        margin-left: 10px;
        font-size: 11px;
    }
}