.navbar{
    background: rgba(28, 43, 53, 1);
    padding: 20px 0;
}
.navbar a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
    float: right;
    font-size: 17px;
}
.navbar a:hover{
    color: orange;
}
.btn-logout {
    border: none;
    margin-left: 10px;
}