.review-img img{
    width: 91px;
    padding: 5px;
    border-radius: 10px;
}
.review-item{
    display: flex;
    width: 571px;
    border: 1px solid gray;
    border-radius: 15px;
    margin: 21px auto;
}
.review-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.review-detail-container p{
    margin: 0;
}
.name{
    font-weight: bold;
}
.delete-btn{
    background: rgba(235, 87, 87, 0.3);
    border-radius: 50%;
    margin-right: 30px;
    border: none;
}
.delete-btn:hover{
    background: rgba(235, 87, 87, 0.5);
}
.icon{
    padding: 11px;
    width: 13px;
    color: #EB5757;
}

@media screen and (max-width: 1025px) {
    .review-img img{
        width: 80px;
        padding: 5px;
        border-radius: 10px;
    }
    .review-item{
        display: flex;
        width: 300px;
        border: 1px solid gray;
        border-radius: 15px;
        margin: 21px auto;
    }
}

@media screen and (max-width: 601px) {
    .review-item{
        display: block;
        width: 150px;
        padding: 10px;
        border: 1px solid gray;
        border-radius: 15px;
        margin: 21px auto;
    }
    .review-container{
        display: block;
    }
    .delete-container{
        margin: 10px 0;
    }
}